# backend packages & files
backend/db.sqlite3
backend/config/__pycache__/
backend/quiz/__pycache__/
backend/quiz/migrations/__pycache__/
backend/quiz/migrations/
backend/venv/

# frontend packages & files


